/.env
/__pycache__
/fund_data_hldrs.csv
/nvidia_holder_analysis_full_dataset.csv
/nvidia_contribution_analysis_data.csv
/nvidia_pa_contribution_analysis_dataset.csv
/nvidia_holder_analysis_full_dataset_20230828.csv
/scratch_pa_api_datagen.ipynb
/nvidia_pa_contribution_full_raw_dataset_20230828.csv
/old NVIDIA PA Contribution T100 by AUM Prelim Analysis.ipynb
/old NVDA PA Contribution T100 by AUM Data Gen.ipynb
/old NVDA Month End Holder Data Gen and Prelim Analysis.ipynb
/nvidia_holder_analysis_full_holder_dataset_20230828.csv
/nvidia_holder_analysis_weights_m_full_raw_dataset_20230828.csv