/.env
/__pycache__
/fund_data_hldrs.csv
/nvidia_holder_analysis_full_dataset.csv
/nvidia_contribution_analysis_data.csv
/nvidia_pa_contribution_analysis_dataset.csv
/scratch_pa_api_datagen.ipynb
/nividia_pa_contribution_vs_bench_dataset_20230828.csv
/scratch NVDA PA Weights Data Gen and Analysis